In [1]:
import pandas as pd

In [2]:
pre ='No_ChrE'

In [3]:
files = ['RNASeq_chrE_replicate1.csv','RNASeq_chrE_replicate2.csv',
         'RPF_chrE_replicate1.csv','RPF_chrE_replicate2.csv']

In [4]:
df = pd.read_csv(pre+'/'+files[0],sep=',')

In [6]:
for file in files[1:]:
    df_new = pd.read_csv(pre+'/'+file,sep=',')
    df = df.merge(df_new, left_on='AccNum', right_on='AccNum')

In [7]:
df.keys()

Index(['AccNum', 'cdReads0_RNA_1', 'cdReads1_RNA_1', 'cdReads2_RNA_1',
       'cdReads3_RNA_1', 'cdReads4_RNA_1', 'cdReads0_RNA_2', 'cdReads1_RNA_2',
       'cdReads2_RNA_2', 'cdReads3_RNA_2', 'cdReads4_RNA_2', 'cdReads0_RPF_1',
       'cdReads1_RPF_1', 'cdReads2_RPF_1', 'cdReads3_RPF_1', 'cdReads4_RPF_1',
       'cdReads0_RPF_2', 'cdReads1_RPF_2', 'cdReads2_RPF_2', 'cdReads3_RPF_2',
       'cdReads4_RPF_2'],
      dtype='object')

In [8]:
df.head()

,AccNum,cdReads0_RNA_1,cdReads1_RNA_1,cdReads2_RNA_1,cdReads3_RNA_1,cdReads4_RNA_1,cdReads0_RNA_2,cdReads1_RNA_2,cdReads2_RNA_2,cdReads3_RNA_2,...,cdReads0_RPF_1,cdReads1_RPF_1,cdReads2_RPF_1,cdReads3_RPF_1,cdReads4_RPF_1,cdReads0_RPF_2,cdReads1_RPF_2,cdReads2_RPF_2,cdReads3_RPF_2,cdReads4_RPF_2
0,NM_017847,50,62,71,30,51,38,70,63,38,...,93,62,49,37,39,178,189,83,44,55
1,NM_001003803,29,52,52,19,22,38,51,41,33,...,81,83,71,46,26,108,121,51,28,23
2,NM_001003800,778,1155,1444,706,883,944,1126,1067,711,...,501,389,284,257,230,516,576,300,274,278
3,NM_016649,17,26,10,9,20,19,53,33,29,...,69,52,41,26,26,261,194,88,83,66
4,NM_016647,170,182,219,91,99,174,161,124,65,...,132,89,73,56,33,109,95,74,44,28

In [9]:
df.to_csv('No_ChrE/ReadCounts.csv',sep=',',index=False)