In [44]:
import pandas as pd
import numpy as np

In [47]:
length=0
df = pd.read_csv('BLFiles/ATCACG-s_7_1_genome.36.bl',sep='	',header=None)
length+=df.shape[0]
df.shape[0]

42102

In [48]:
len

42102

In [49]:
for i in range(18,35):
    df_curr=pd.read_csv('BLFiles/ATCACG-s_7_1_genome.'+str(i)+'.bl',sep='	',header=None)
    df = df.append(df_curr)
    length+=df_curr.shape[0]

In [50]:
df.shape
print(length)

2963933

In [51]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,2907550_1,chr14,-,36.0,0.0,0.0,1.0,36.0,69255363.0,69255328.0,NaN,NaN
1,2907551_9,chr1,-,36.0,0.0,0.0,1.0,36.0,108113555.0,108113520.0,rRNA,NaN
2,2907552_2,chr10,-,36.0,0.0,0.0,1.0,36.0,17271460.0,17271495.0,NaN,NaN
3,2907553_1,chr11,-,36.0,0.0,0.0,1.0,36.0,3050283.0,3050248.0,NaN,NaN
4,2907554_1,chr11,-,36.0,0.0,0.0,1.0,36.0,63742173.0,63742208.0,NaN,NaN

In [60]:
df = df[ (df[10]!= 'rRNA') & (df[11]!='tRNA')]

In [61]:
df.shape

(2935831, 12)

In [62]:
df[8].min()

1.0

In [64]:
df[9].max()

249212573.0

In [81]:
position_read = dict.fromkeys(range(int(df[8].min()),int(df[9].max())+1),0)

In [73]:
X = df[[8,9]].values

In [84]:
for x in X:
    if((not np.isnan(x[0])) and (not np.isnan(x[1]))):
        for i in range(int(x[0]),int(x[1])+1):
            position_read[i]+=1

In [ ]:
import json

with open('ATCACG-s_7_1_genome.txt', 'w') as file:
     file.write(json.dumps(position_read)) # use `json.loads` to do the reverse