In [9]:
import pandas as pd

In [10]:
file='RPKMOutput/filteredGenesDetails_human_240118.txt'

df = pd.read_csv(file,sep='	')

In [11]:
df.head(5)

,GeneName,AccNum,Chrom,mRNALength,ORFLength,fpUTR_length,tpUTR_length,sumIntronLengths
0,UBE2Q1,NM_017582,chr1,3223,1269,91,1863,6847
1,DUOXA1,NM_001276267,chr15,3032,897,395,1740,9479
2,UBE2Q2,NM_173469,chr15,3098,1128,381,1589,54664
3,RNF10,NM_001330474,chr12,3861,2451,482,928,39404
4,RNF11,NM_014372,chr1,3074,465,484,2125,34101

In [12]:
df = df[['AccNum']]
df.to_csv('RPKMOutput/Allaccnums.txt',sep = ' ',index=False)